<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="static/favicon.svg">
    <link rel="stylesheet" type="text/css" href="static/list.css">
    <title>Directorius</title>
  </head>


  <body>
    {{ $data := . }}
    <h1>Directorius</h1>
    <h2>Queues</h2>
    <div id="queue_content">
      {{ if not .Queues }}
      <section> No Pull-Requests enqueued.</section>
      {{ end }}
      {{ range $queue := .Queues }}
      <section>
        <h3>Repository: {{ $queue.RepositoryOwner }}/{{ $queue.Repository }}, Base Branch: {{ $queue.BaseBranch }}</h3>
        <form action="{{ $data.SuspendResumePostURL }}" method="post">
          <input type="hidden" name="repository_owner" value="{{ $queue.RepositoryOwner }}"/>
          <input type="hidden" name="repository" value="{{ $queue.Repository }}"/>
          <input type="hidden" name="base_branch" value="{{ $queue.BaseBranch }}"/>
          {{ if $queue.Paused }}
          <button type="submit" name="action" value="resume" id="button_resume"/>⏵ Resume Merge Queue</button>
          {{ else }}
          <button type="submit" name="action" value="pause" id="buttom_pause"/>⏸ Pause Merge Queue</button>
          {{ end }}
        </form>
        {{ if or $queue.ActivePRs $queue.SuspendedPRs }}
        <div class="queue_table_container">
          {{ if $queue.Paused }}
          <div class="paused-overlay">PAUSED</div>
          <table class="queue_table queue_table_paused">
          {{ else }}
          <table class="queue_table">
          {{ end }}
            <thead><tr>
              <th>Rank</th>
              <th>Priority</th>
              <th>Pull Request</th>
              <th>Author</th>
              <th>In Mergequeue (Not Suspended)</th>
              <th>Suspensions</th>
              <th>Status</th>
            </tr></thead>
            <tbody>
              {{ range $i, $pr := $queue.ActivePRs }}
                <tr class="tr_active_prs">
                  <td>{{ add $i 1 }}</td>
                  <td>
                    <select name="{{ $pr.Number }}" form="priority_form">
                    {{ range $priority := .Priority }}
                    <option id="{{ $priority.ID }}" value="{{ $priority.Value }}" {{ if $priority.Selected }}selected{{ end }}>{{ $priority.Text }}</option>
                    {{ end }}
                    </select>
                  </td>
                  <td><a href="{{ $pr.Link.URL }}">{{ $pr.Link.Text }}</a></td>
                  <td><a href="{{ $pr.Author.URL }}">{{ $pr.Author.Text }}</a></td>
                  <td>
                    {{ $pr.EnqueuedSince }}
                    {{ if $pr.InActiveQueueSince }}
                    ({{ $pr.InActiveQueueSince }})
                    {{ end }}
                  </td>
                  <td>{{ $pr.Suspensions }}</td>
                  {{ if eq $i 0 }}
                  <td id="td_status_updating">{{ $pr.Status }}</td>
                  {{ else }}
                  <td class="td_status_queued">{{ $pr.Status }}</td>
                  {{ end }}
                  </tr>
                  {{ end }}
                  {{ range $i, $pr := $queue.SuspendedPRs }}
                  <tr class="tr_suspended_prs">
                    <td></td>
                    <td>
                      <select name="{{ $pr.Number }}" form="priority_form">
                        {{ range $priority := .Priority }}
                        <option id="{{ $priority.ID }}" value="{{ $priority.Value }}" {{ if $priority.Selected }}selected{{ end }}>{{ $priority.Text }}</option>
                        {{ end }}
                      </select>
                    </td>
                    <td><a href="{{ $pr.Link.URL }}">{{ $pr.Link.Text }}</a></td>
                    <td><a href="{{ $pr.Author.URL }}">{{ $pr.Author.Text }}</a></td>
                    <td>{{ $pr.EnqueuedSince }}</td>
                    <td>{{ $pr.Suspensions }}</td>
                    <td class="td_status_suspended">Suspended</td>
                  </tr>
                  {{ end }}
                </tbody>
              </table>
            </div>
            <form id="priority_form" action={{ $data.PriorityChangePostURL }} method="post">
              <input type="hidden" name="owner" value="{{ $queue.RepositoryOwner }}">
              <input type="hidden" name="repository" value="{{ $queue.Repository }}">
              <input type="hidden" name="basebranch" value="{{ $queue.BaseBranch }}">
              <input type="submit" value="Update Priorities" id="submit_priorities">
            </form>
        </section>
        {{ else }}
        <section>Base branch queue is empty.</section>
        {{ end }}
        {{ end }}
    </div>

    <div id="configuration">
      <section>
        <header>
          <h2>Configuration</h2>
            <ul>
              <li><b>Enqueue on Automerge:</b>{{ if .TriggerOnAutomerge }}enabled{{ else }}disabled{{ end}}</li>
              <li>
                <b>Enqueue on PR Labels:</b>
                {{ if .TriggerLabels }}
                <ul>
                  {{ range .TriggerLabels }}
                  <li>{{ . }}</li>
                  {{ end }}
                </ul>
                {{ else }}
                disabled
                {{ end }}
              </li>
              <li>
                <b>Monitored Repositories:</b>
                <ul>
                  {{ range .MonitoredRepositories }}
                  <li>{{ . }}</li>
                  {{ end }}
                </ul>
                <li><b>Processed Events:</b> {{ .ProcessedEvents }}</li>
                <li><b>Active PR Periodic Check Interval:</b> {{ .PeriodicTriggerInterval }}</li>
                <li><b>CI Server:</b> {{ .CIServer }}</li>
                {{ if .CIJobURLs }}
                <li>
                  <b>CI Jobs:</b>
                  <ul>
                    {{ range .CIJobURLs }}
                    <li>{{ . }}</li>
                    {{ end }}
                  </ul>
                </li>
                {{ end }}
            </ul>
        </header>
      </section>
    </div>

    <div id="explanation">
      <section>
        <h2>Help! How does it work?</h2>
      <p>
        Directorius provides a merge queue for GitHub pull requests (PRs).
      </p>
      <p>
        A pull request enters the queue when auto-merge is enabled or a
        configured label is added to it.
      </p>

      Directorius maintains 2 states for PRs:
      <ul>
        <li>an ordered active queue for PRs that are ready to be
            processed</li>
        <li>an unordered suspend queue for PRs that do not meet the
            merge requirements configured on GitHub.</li>
      </ul>

      <p>
        For the first PR in the active queue, Directorius schedules Jenkins CI
        jobs, keeps its branch up to date with changes in its base branch, marks
        it with a queue head label, and reports a positive directorius commit
        status to GitHub.
      </p>
      <p>
        When all GitHub merge requirements are fulfilled, the PR is expected to
        be merged automatically by GitHub.
      </p>
      <p>
        A PR moves to the suspend queue when it fails to meet the merge
        requirements.
      </p>
      <p>
        It returns to the active queue when its branch or its base
        branch is updated, it is approved, or when a previously failed CI
        check reported a newer positive result to GitHub.
      </p>
      </section>
    </div>
  </body>

  <footer>
    <hr>
    <small>
      <p>Page generated at: {{ .CreatedAt.Format "2006-01-02 15:04:05 MST" }}</p>
      <p><a href="https://github.com/simplesurance/directorius">https://github.com/simplesurance/directorius</a></p>
    </small>
  </footer>
</html>
